{
  "presets": [[
    "env",
    {
      "modules": false
    }],
    "flow",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "babel-plugin-styled-components", {
            "displayName": true
          }
        ]
      ]
    },
    "test": {
      "presets": [["env"], "react"]
    }
  }
}