{
  "presets": [[
    "env", {
      "targets": {
        "browsers": ["last 2 versions", "> 5% in BE"],
        "uglify": true
      },
      "modules": false
    }],
    "flow",
    "react"
  ],
  "plugins": [
    "external-helpers",
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "babel-plugin-styled-components", {
            "displayName": true
          }
        ]
      ]
    }
  }
}