/node_modules
/coverage
/build
/app
/config

# production
/build
/dist
.rpt2_cache
*.tgz
/.rollup.cache

# misc
.DS_Store
.env
.env.*
.env.*.local
.vscode

.idea/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
