stages:
  - test
  - release
  - deploy

image: node:10.13-alpine

cache:
  paths:
  - node_modules/

test:
  stage: test
  tags:
    - docker
  dependencies: []
  artifacts:
    paths:
      - node_modules/
    expire_in: 1h
  script:
    - npm i -g yarn 
    - yarn
    - yarn lint
    - yarn test

publish:
  stage: release
  tags:
    - docker
  only:
    - master
  dependencies:
    - test
  script:
    - npm i -g yarn 
    - apk add --no-cache git
    - GITLAB_TOKEN=$GITLAB_TOKEN yarn semantic-release

storybook:
  stage: deploy
  tags:
    - docker
  only:
    - master
  script:
    - apk add py-pip
    - apk add python-dev libffi-dev openssl-dev gcc libc-dev make
    - pip install --upgrade pip
    - pip install docker-compose
    - sudo docker image prune -f
    - sudo docker-compose build --no-cache
    - sudo docker-compose up -d

